[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
requests = "*"
pytest = "*"
requests-mock = "*"
pytest-django = "*"
factory-boy = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.10"
